Repository g-udi/gaudi-bash: changes, and which pre-commit hooks are due for each by the changed paths.
All: bash-audit, shellcheck-audit

bash-audit:
  name: Check .sh files against gaudi-bash requirements (bash shebang)
  entry: ./hooks/bash-audit.sh
  language: system

shellcheck-audit:
  name: Check .bash files against gaudi-bash requirements (shellcheck shebang)
  entry: ./hooks/shellcheck-audit.sh
  language: system

Fix shfmt errors
  lib/helpers/cursor.bash
  lib/search.bash
  test/run
  test/runners/run-bats.bash
Due: shellcheck-audit

Fix tests to use a cleaner approach
  lib/helpers/core.bash
  lib/log.bash
  test/helper.bash
  test/helpers/cache.bats
  test/helpers/components.bats
  test/helpers/disabler.bats
  test/helpers/doctor.bats
  test/helpers/enabler.bats
  test/helpers/gaudi-bash.bats
  test/helpers/generic.bats
  test/helpers/help.bats
  test/helpers/unicodes.bats
  test/helpers/utils.bats
  test/install/install.bats
  test/lib/bash-it.bats
  test/lib/composure.bats
  test/lib/log.bats
  test/lib/search.bats
  test/run
  test/runners/run-bats.bash
Due: shellcheck-audit

adding --no-interaction to see if that will fix CI
  .github/workflows/ci.yml
Due: none

Fix files lint and pre-commit changes
  .github/workflows/ci.yml
  lib/log.bash
  test/helper.bash
  test/lib/log.bats
Due: shellcheck-audit

Fix github actions
  .github/workflows/ci.yml
Due: none

more edits on the CI tests enablement
  test/helper.bash
  test/runners/run-bats.bash
Due: shellcheck-audit

New bats version and tests fix
  gaudi_bash.sh
  lib/composure.bash
  lib/gaudi-bash.bash
  test/helper.bash
  test/helpers/cache.bats
  test/helpers/components.bats
  test/helpers/disabler.bats
  test/helpers/doctor.bats
  test/helpers/enabler.bats
  test/helpers/gaudi-bash.bats
  test/helpers/generic.bats
  test/helpers/help.bats
  test/helpers/unicodes.bats
  test/helpers/utils.bats
  test/install/install.bats
  test/install/uninstall.bats
  test/lib/bash-it.bats
  test/lib/log.bats
  test/lib/search.bats
  test/run
  test/runners/run-bats.bash
  test/scripts/loader.bats
Due: bash-audit, shellcheck-audit

tryint to fix tests
  gaudi_bash.sh
  lib/gaudi-bash.bash
  test/helper.bash
  test/helpers/disabler.bats
  test/install/install.bats
  uninstall.sh
Due: bash-audit, shellcheck-audit

tryint to fix tests
  lib/gaudi-bash.bash
Due: shellcheck-audit

tryint to fix tests
  lib/gaudi-bash.bash
  test/helper.bash
Due: shellcheck-audit

checking CI work with new flow
  lib/gaudi-bash.bash
  test/helpers/disabler.bats
  test/runners/run-bats.bash
Due: shellcheck-audit

checking CI work with new flow
  test/run
Due: none

fix enabler status code
  lib/helpers/enabler.bash
  test/helper.bash
  test/helpers/disabler.bats
  test/runners/run-bats.bash
Due: shellcheck-audit

check linkeing issues
  lib/helpers/disabler.bash
  lib/helpers/enabler.bash
  test/helper.bash
  test/helpers/disabler.bats
  test/run
Due: shellcheck-audit

check linkeing issues
  lib/helpers/enabler.bash
Due: shellcheck-audit

check linkeing issues
  lib/helpers/enabler.bash
  test/helpers/disabler.bats
Due: shellcheck-audit

check linkeing issues
  lib/helpers/enabler.bash
  test/helper.bash
Due: shellcheck-audit

check linkeing issues
  lib/helpers/enabler.bash
  test/helper.bash
  test/helpers/disabler.bats
  test/runners/run-bats.bash
Due: shellcheck-audit

check linkeing issues
  components.zip
  lib/appearance.bash
  lib/preexec.bash
  test/helper.bash
  test/helpers/disabler.bats
  test/helpers/doctor.bats
  test/runners/run-bats.bash
Due: shellcheck-audit

fixing test helpers for tests
  gaudi_bash.sh
  lib/gaudi-bash.bash
  lib/helpers/cache.bash
  test/helper.bash
  test/helpers/components.bats
  test/helpers/doctor.bats
  test/install/install.bats
  test/install/uninstall.bats
  test/run
  test/runners/run-bats.bash
  uninstall.sh
Due: bash-audit, shellcheck-audit

fixing test helpers for tests
  lib/helpers/cache.bash
Due: shellcheck-audit

fixing test helpers for tests
  lib/helpers/cache.bash
  test/helper.bash
Due: shellcheck-audit

fixing test helpers for tests
  lib/helpers/cache.bash
  test/helpers/components.bats
Due: shellcheck-audit

fixing test helpers for tests
  lib/helpers/cache.bash
  lib/helpers/core.bash
Due: shellcheck-audit

fixing test helpers for tests
  lib/helpers/core.bash
  test/helpers/components.bats
Due: shellcheck-audit

Fix files lint and pre-commit changes
  test/helper.bash
  test/helpers/components.bats
  test/helpers/doctor.bats
  test/helpers/help.bats
  test/run
  test/runners/run-bats.bash
  test/scripts/loader.bats
Due: shellcheck-audit

Fix files lint and pre-commit changes
  gaudi_bash.sh
  lib/appearance.bash
  lib/composure.bash
  lib/gaudi-bash.bash
  lib/preexec.bash
  test/helper.bash
  test/helpers/disabler.bats
  test/helpers/utils.bats
  test/run
  test/scripts/loader.bats
Due: bash-audit, shellcheck-audit

Fix the submodules init
  test/run
Due: none

Fixing precommit
  .github/workflows/ci.yml
  components.zip
  gaudi_bash.sh
  lib/appearance.bash
  lib/composure.bash
  lib/gaudi-bash.bash
  lib/helpers/cache.bash
  lib/helpers/core.bash
  lib/helpers/cursor.bash
  lib/helpers/disabler.bash
  lib/helpers/enabler.bash
  lib/log.bash
  lib/preexec.bash
  lib/search.bash
  test/completion/completion.bats
  test/helper.bash
  test/helpers/cache.bats
  test/helpers/components.bats
  test/helpers/disabler.bats
  test/helpers/doctor.bats
  test/helpers/enabler.bats
  test/helpers/gaudi-bash.bats
  test/helpers/generic.bats
  test/helpers/help.bats
  test/helpers/unicodes.bats
  test/helpers/utils.bats
  test/install/install.bats
  test/install/uninstall.bats
  test/lib/bash-it.bats
  test/lib/composure.bats
  test/lib/log.bats
  test/lib/search.bats
  test/run
  test/runners/run-bats.bash
  test/runners/run-search.bash
  test/scripts/loader.bats
  uninstall.sh
Due: bash-audit, shellcheck-audit

Path conditions:
  bash-audit: any of: \.sh$
  shellcheck-audit: any of: \.bash$, but not: test/test_helper.bash
