Repository g-udi/gaudi-bash: changes, and which pre-commit hooks are due for each by the changed paths.
All: bash-audit, shellcheck-audit

bash-audit:
  name: Check .sh files against gaudi-bash requirements (bash shebang)
  entry: ./hooks/bash-audit.sh
  language: system

shellcheck-audit:
  name: Check .bash files against gaudi-bash requirements (shellcheck shebang)
  entry: ./hooks/shellcheck-audit.sh
  language: system

Adding shellcheck disable for rule SC2031
  test/install/uninstall.bats
Due: none

Removing github actions
  .github/workflows/ci.yml
Due: none

Adding Github actions runner
  .github/workflows/ci.yaml
  lib/helpers/cursor.bash
  lib/search.bash
  test/lib/search.bats
  test/run
  test/runners/run-bats.bash
  test/runners/run-search.bash
Due: shellcheck-audit

Disabling completion tests to see if that is blockig the CI runner
  test/completion/completion.bats
Due: none

Disabling completion tests to see if that is blockig the CI runner
  .github/workflows/ci.yaml
Due: none

Defaulting to one OS now to see if the issue is in parallel envs
  .github/workflows/ci.yaml
Due: none

Adding submodule init in the setup
  .gitignore
  setup.sh
Due: bash-audit

Adding git submodule update --init --recursive for the setup
  setup.sh
Due: bash-audit

Upating paths
  install.sh
  setup.sh
Due: bash-audit

Fix colors path
  setup.sh
Due: bash-audit

Improve on plugin default on setup
  install.sh
  setup.sh
Due: bash-audit

Trying to see what sane defaults can allow for a clean setup
  install.sh
  setup.sh
Due: bash-audit

Remove newline print on setup
  setup.sh
Due: bash-audit

Disabling defaults in setup
  setup.sh
Due: bash-audit

Adding basic setup options
  setup.sh
Due: bash-audit

Carry install parameters to the setup
  install.sh
Due: bash-audit

Carry install parameters to the setup
  setup.sh
Due: bash-audit

Carry install parameters to the setup
  install.sh
  setup.sh
Due: bash-audit

Adding basic setup options
  install.sh
  setup.sh
Due: bash-audit

Add relative path for setup
  setup.sh
Due: bash-audit

Fixing setup and tests
  test/lib/bash-it.bats
  test/run
Due: none

Fix colors path and tests
  setup.sh
  test/lib/bash-it.bats
  test/lib/search.bats
Due: bash-audit

Removing colors reference
  setup.sh
Due: bash-audit

Fix install.sh with gaudi-bash update
  install.sh
Due: bash-audit

Fix install.sh with gaudi-bash update/message edit
  install.sh
Due: bash-audit

Fix install.sh with gaudi-bash update/message edit add extra space
  install.sh
Due: bash-audit

File cleanups
  CONTRIBUTING.md
  DEVELOPMENT.md
  components.zip
  gaudi_bash.sh
Due: bash-audit

Fix references to gaudi-bash
  template/bash_profile.template.bash
Due: shellcheck-audit

Ensure consistent spacing with a newline after function defintions
  lib/gaudi-bash.bash
Due: shellcheck-audit

Path conditions:
  bash-audit: any of: \.sh$
  shellcheck-audit: any of: \.bash$, but not: test/test_helper.bash
