Repository g-udi/gaudi-bash: changes, and which pre-commit hooks are due for each by the changed paths.
All: bash-audit, shellcheck-audit

bash-audit:
  name: Check .sh files against gaudi-bash requirements (bash shebang)
  entry: ./hooks/bash-audit.sh
  language: system

shellcheck-audit:
  name: Check .bash files against gaudi-bash requirements (shellcheck shebang)
  entry: ./hooks/shellcheck-audit.sh
  language: system

First round of shellcheck checks via pre-commit
  .pre-commit-config.yaml
  hooks/bash-audit.sh
  hooks/shellcheck-audit.sh
  lib/helpers/bash-it.bash
  lib/helpers/enabler.bash
  lib/helpers/search.bash
  lib/helpers/unicodes.bash
  lib/helpers/utils.bash
  setup.sh
Due: bash-audit, shellcheck-audit

Update command_exists to use _log_debug
  lib/helpers/utils.bash
Due: shellcheck-audit

Adding pre-commit hooks and fixing all issues
  .pre-commit-config.yaml
  gaudi_bash.sh
  hooks/bash-audit.sh
  hooks/shellcheck-audit.sh
  install.sh
  lib/appearance.bash
  lib/colors.bash
  lib/composure.bash
  lib/gaudi-bash.bash
  lib/helpers/cache.bash
  lib/helpers/components.bash
  lib/helpers/disabler.bash
  lib/helpers/doctor.bash
  lib/helpers/enabler.bash
  lib/helpers/gaudi-bash.bash
  lib/helpers/generic.bash
  lib/helpers/help.bash
  lib/helpers/search.bash
  lib/helpers/unicodes.bash
  lib/helpers/updater.bash
  lib/helpers/utils.bash
  lib/history.bash
  lib/log.bash
  lib/preexec.bash
  lib/search.bash
  scripts/loader.bash
  setup.sh
  template/bash_profile.template.bash
  test/fixtures/gaudi_bash/plugins/lib/c.plugins.bash
  test/helper.bash
  test/run
  test/scripts/loader.bats
  uninstall.sh
Due: bash-audit, shellcheck-audit

Fix all testd with shellcheck, precommit ahd shfmt
  .pre-commit-config.yaml
  lib/helpers/gaudi-bash.bash
  lib/helpers/updater.bash
  test/completion/completion.bats
  test/helpers/cache.bats
  test/helpers/components.bats
  test/helpers/disabler.bats
  test/helpers/doctor.bats
  test/helpers/enabler.bats
  test/helpers/gaudi-bash.bats
  test/helpers/generic.bats
  test/helpers/help.bats
  test/helpers/search.bats
  test/helpers/unicodes.bats
  test/helpers/utils.bats
  test/install/install.bats
  test/install/uninstall.bats
  test/lib/bash-it.bats
  test/lib/composure.bats
  test/lib/log.bats
  test/lib/search.bats
  test/scripts/loader.bats
Due: shellcheck-audit

Updating tests run with parallel
  test/run
Due: none

Fix tests with the new shellcheck
  test/install/install.bats
Due: none

Changes merged with upstream bash-it
  lib/gaudi-bash.bash
Due: shellcheck-audit

Updating git modules
  .gitmodules
Due: none

Enable gaudi-bash alias as a sane default on installation
  setup.sh
Due: bash-audit

Fix tests to enable gaudi-bash aliases as a default alias
  test/lib/bash-it.bats
Due: none

Add gaudi restart command
  lib/gaudi-bash.bash
Due: shellcheck-audit

Enablign completion bats tests
  test/completion/completion.bats
Due: none

Adding gaudi-bash update
  lib/helpers/updater.bash
Due: shellcheck-audit

Adding package.json to maintain meta info
  package.json
Due: none

remove the need to migrate configurations on update
  lib/helpers/updater.bash
Due: shellcheck-audit

Fix latest shellcheck and use absolute paths instead of changing directory
  .gitmodules
  lib/gaudi-bash.bash
  lib/helpers/updater.bash
  package.json
  scripts/loader.bash
  test/completion/completion.bats
  test/run
Due: shellcheck-audit

Edit the restart command about
  lib/gaudi-bash.bash
Due: shellcheck-audit

Update the search library
  lib/helpers/search.bash
  lib/search.bash
  test/lib/search.bats
Due: shellcheck-audit

Fix the GAUDI_BASH lookup in the uninstall script
  uninstall.sh
Due: bash-audit

silent log the command_exists
  lib/helpers/utils.bash
Due: shellcheck-audit

Fix the tests to adapt to the command_exists silent log
  test/helpers/utils.bats
Due: none

new improved search without rewinding and blinking
  lib/helpers/cursor.bash
  lib/helpers/search.bash
  lib/search.bash
Due: shellcheck-audit

starting to clean search tests
  test/helpers/search.bats
  test/lib/search.bats
  test/run
Due: none

Fix the new search tests
  lib/helpers/components.bash
  lib/search.bash
  test/lib/search.bats
Due: shellcheck-audit

Fix test runners for search
  test/helpers/utils.bats
  test/run
  test/runners/run-bats.bash
  test/runners/run-search.bash
Due: shellcheck-audit

subshell minimizations
  lib/helpers/cache.bash
  test/run
  test/runners/run-bats.bash
  test/runners/run-search.bash
Due: shellcheck-audit

Adding Github CI configs
  .github/workflows/ci.yml
Due: none

Upadte components module link
  .gitmodules
Due: none

Fix test paths for remote CI execution
  test/run
  test/runners/run-bats.bash
  test/runners/run-search.bash
Due: shellcheck-audit

Path simplifications for tests
  test/completion/completion.bats
  test/helper.bash
  test/helpers/cache.bats
  test/helpers/components.bats
  test/helpers/disabler.bats
  test/helpers/doctor.bats
  test/helpers/enabler.bats
  test/helpers/gaudi-bash.bats
  test/helpers/generic.bats
  test/helpers/help.bats
  test/helpers/unicodes.bats
  test/helpers/utils.bats
  test/install/install.bats
  test/install/uninstall.bats
  test/lib/bash-it.bats
  test/lib/composure.bats
  test/lib/log.bats
  test/lib/search.bats
  test/run
  test/scripts/loader.bats
Due: shellcheck-audit

Trying to fix CI build paths
  .github/workflows/ci.yml
Due: none

Trying to fix CI paths for tests
  .github/workflows/ci.yml
  test/completion/completion.bats
  test/helper.bash
  test/run
  test/runners/run-bats.bash
Due: shellcheck-audit

Fixing precommit
  .github/workflows/ci.yml
  lib/helpers/cursor.bash
  lib/search.bash
  test/completion/completion.bats
  test/lib/search.bats
  test/run
  test/runners/run-bats.bash
  test/runners/run-search.bash
Due: shellcheck-audit

Path conditions:
  bash-audit: any of: \.sh$
  shellcheck-audit: any of: \.bash$, but not: test/test_helper.bash
