Repository g-udi/gaudi-bash: changes, and which pre-commit hooks are due for each by the changed paths.
All: bash-audit, shellcheck-audit

bash-audit:
  name: Check .sh files against gaudi-bash requirements (bash shebang)
  entry: ./hooks/bash-audit.sh
  language: system

shellcheck-audit:
  name: Check .bash files against gaudi-bash requirements (shellcheck shebang)
  entry: ./hooks/shellcheck-audit.sh
  language: system

Remove component smoke tests for consistency
  test/components/components.bats
Due: none

Add finalize hook array for post-load plugin callbacks
  gaudi_bash.sh
Due: bash-audit

Move component cache to XDG_CACHE_HOME
  lib/helpers/cache.bash
  test/helpers/cache.bats
  test/helpers/components.bats
Due: shellcheck-audit

Add differential ShellCheck for PRs
  .github/workflows/ci.yml
Due: none

Add test for finalize hook and fix array initialization
  gaudi_bash.sh
  test/fixtures/gaudi_bash/plugins/lib/d.plugins.bash
  test/scripts/loader.bats
Due: bash-audit, shellcheck-audit

Add command duration library for measuring command execution time
  lib/command_duration.bash
  test/lib/command_duration.bats
Due: shellcheck-audit

Fix command duration test to not assert success on disabled return
  test/lib/command_duration.bats
Due: none

Fix stray dollar sign in disabler.bash breaking disable command
  lib/helpers/disabler.bash
Due: shellcheck-audit

Optimize loader by replacing sort+compgen with native glob
  scripts/loader.bash
Due: shellcheck-audit

Cache grep path at startup and fix trailing space in output
  lib/helpers/core.bash
Due: shellcheck-audit

Remove deprecated GREP_OPTIONS in favor of direct alias
  lib/appearance.bash
Due: shellcheck-audit

Optimize describe and enabler by eliminating forks
  lib/helpers/core.bash
  lib/helpers/enabler.bash
Due: shellcheck-audit

Replace echo+cut with parameter expansion in component type extraction
  lib/log.bash
Due: shellcheck-audit

Add profile save/load/list/rm system
  lib/gaudi-bash.bash
  lib/helpers/profile.bash
Due: shellcheck-audit

Rewrite README with current features, components, and architecture
  README.md
Due: none

Fix shellcheck warnings in profile, tests, and fixture
  lib/helpers/profile.bash
  test/fixtures/gaudi_bash/plugins/lib/d.plugins.bash
  test/lib/command_duration.bats
Due: shellcheck-audit

Add comprehensive Gaudi theme documentation to README
  README.md
Due: none

Add GitHub Actions workflow to auto-create releases on tags
  .github/workflows/release.yml
Due: none

Fix 3 pre-existing test failures, add version tag output, add gbash alias
  lib/gaudi-bash.bash
  test/helper.bash
  test/themes/gaudi.bats
Due: shellcheck-audit

Auto-tag and release on every push to master after CI passes
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Sync all pending changes across core, tests, and submodules
  README.md
  install.sh
  lib/helpers/core.bash
  lib/helpers/doctor.bash
  lib/helpers/enabler.bash
  lib/helpers/help.bash
  lib/helpers/updater.bash
  lib/log.bash
  setup.sh
  test/gaudi-bash/aliases
  test/gaudi-bash/completions
  test/gaudi-bash/plugins
  test/helpers/enabler.bats
  test/helpers/help.bats
  test/helpers/updater.bats
  test/install/install.bats
  test/lib/bash-it.bats
  test/run
  test/runners/run-bats.bash
  test/runners/run-search.bash
  test/scripts/run.bats
  test/themes/gaudi.bats
Due: bash-audit, shellcheck-audit

Fix lint failures and add pre-push hook
  .gitignore
  hooks/pre-push
  lib/helpers/enabler.bash
  test/gaudi-bash/aliases
  test/gaudi-bash/completions
  test/gaudi-bash/plugins
Due: shellcheck-audit

Fix shfmt formatting in install.sh and updater.bash
  install.sh
  lib/helpers/updater.bash
Due: bash-audit, shellcheck-audit

Revert linter regressions and fix all test failures
  README.md
  install.sh
  lib/helpers/core.bash
  lib/helpers/doctor.bash
  lib/helpers/enabler.bash
  lib/helpers/help.bash
  lib/helpers/updater.bash
  lib/log.bash
  setup.sh
  test/helpers/enabler.bats
  test/helpers/help.bats
  test/helpers/updater.bats
  test/install/install.bats
  test/lib/bash-it.bats
  test/run
  test/runners/run-bats.bash
  test/runners/run-search.bash
  test/scripts/run.bats
  test/themes/gaudi.bats
Due: bash-audit, shellcheck-audit

Fix theme async cache tests to match file-based caching implementation
  test/themes/gaudi.bats
Due: none

Fix reload and restart commands
  lib/gaudi-bash.bash
Due: shellcheck-audit

Fix gaudi-bash setup and compatibility
  .pre-commit-config.yaml
  gaudi_bash.sh
  install.sh
  lib/helpers/components.bash
  lib/helpers/core.bash
  lib/helpers/doctor.bash
  lib/helpers/enabler.bash
  lib/helpers/generic.bash
  lib/helpers/updater.bash
  lib/history.bash
  lib/log.bash
  lib/search.bash
  setup.sh
  test/install/install.bats
  test/run
  test/runners/run-bats.bash
  test/runners/run-search.bash
Due: bash-audit, shellcheck-audit

Support local custom scripts
  .gitignore
  README.md
  gaudi_bash.sh
  lib/composure.bash
  lib/gaudi-bash.bash
  test/scripts/loader.bats
Due: bash-audit, shellcheck-audit

Path conditions:
  bash-audit: any of: \.sh$
  shellcheck-audit: any of: \.bash$, but not: test/test_helper.bash
