Repository g-udi/gaudi-bash: changes, and which pre-commit hooks are due for each by the changed paths.
All: bash-audit, shellcheck-audit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: bash-audit
        name: Check .sh files against gaudi-bash requirements (bash shebang)
        entry: ./hooks/bash-audit.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: shellcheck-audit
        name: Check .bash files against gaudi-bash requirements (shellcheck shebang)
        exclude: "test/test_helper.bash"
        entry: ./hooks/shellcheck-audit.sh
        language: system
        files: "\\.bash$"
        types: [file]

Allow for case insensitive search
  lib/helpers/components.bash
Due: shellcheck-audit

Add a new _binary_exists helper
  lib/helpers/utils.bash
Due: shellcheck-audit

Update the history function
  lib/history.bash
Due: shellcheck-audit

Simplify the search function but removing any references for cursor manipulations and execute actions before printing
  lib/search.bash
Due: shellcheck-audit

Fix the search with special chars like -
  lib/search.bash
Due: shellcheck-audit

Update the tests to ensure 100% pass
  test/helpers/components.bats
  test/helpers/gaudi-bash.bats
  test/helpers/help.bats
  test/helpers/unicodes.bats
  test/helpers/utils.bats
  test/lib/search.bats
Due: none

Fix the search function return status code
  lib/search.bash
Due: shellcheck-audit

Fix the composure functions signatures
  lib/helpers/updater.bash
Due: shellcheck-audit

Fix minor issues with the help function
  lib/helpers/help.bash
Due: shellcheck-audit

Extract function __help-list-aliases as its used by tests
  lib/helpers/help.bash
Due: shellcheck-audit

Adding function _completion_exists in the utils helpers
  lib/helpers/utils.bash
Due: shellcheck-audit

Updating latest files with various fixes and enhancements
  lib/helpers/cursor.bash
  lib/helpers/unicodes.bash
  setup.sh
  test/helpers/components.bats
  test/helpers/help.bats
Due: bash-audit, shellcheck-audit

Fixing tests and linting
  .github/workflows/ci.yml
  install.sh
  lib/gaudi-bash.bash
  lib/helpers/components.bash
  lib/helpers/help.bash
  lib/helpers/utils.bash
  lib/history.bash
  lib/search.bash
  setup.sh
  test/helpers/components.bats
  test/helpers/help.bats
  test/helpers/utils.bats
  test/install/install.bats
  test/lib/bash-it.bats
  test/lib/search.bats
Due: bash-audit, shellcheck-audit

Fixing tests runners
  test/helpers/components.bats
  test/lib/bash-it.bats
Due: none

Fix the has backup code in the tests
  test/lib/bash-it.bats
Due: none

Further enhacnements on core and components
  lib/helpers/disabler.bash
Due: shellcheck-audit

Update CI actions
  .github/workflows/ci.yml
Due: none

Updating the components
  README.md
  package.json
  test/helpers/components.bats
Due: none

Adding __homebrew-check check and update to git/system completions
  lib/helpers/utils.bash
Due: shellcheck-audit

Fix command injection vulnerability in _gaudi-bash-restore
  lib/gaudi-bash.bash
Due: shellcheck-audit

Fix exit to return in loader.bash to avoid killing the user shell
  scripts/loader.bash
Due: shellcheck-audit

Replace sed/tr forks in _clean-string with pure bash
  lib/helpers/utils.bash
Due: shellcheck-audit

Remove dead GAUDI_BASH fallback code in gaudi_bash.sh
  gaudi_bash.sh
Due: bash-audit

Replace expr with bash arithmetic in setup.sh
  setup.sh
Due: bash-audit

Add missing local declarations to prevent variable leaks
  lib/gaudi-bash.bash
  lib/helpers/enabler.bash
Due: shellcheck-audit

Route error and warning log messages to stderr
  lib/log.bash
Due: shellcheck-audit

Fix _gaudi-bash-singularize-component variable leak and use suffix removal
  lib/helpers/components.bash
Due: shellcheck-audit

Fix legacy BASH_IT_BASHRC reference in _gaudi-bash-restart
  lib/gaudi-bash.bash
Due: shellcheck-audit

Replace subshell+grep in _is_function with pure bash declare -F
  lib/helpers/utils.bash
Due: shellcheck-audit

Fix missing space after echo -e flag in setup.sh
  setup.sh
Due: bash-audit

Fix unquoted glob expansion for custom component loading
  gaudi_bash.sh
Due: bash-audit

Modernize GitHub Actions CI workflow
  .github/workflows/ci.yml
Due: none

Fix CI failures: macOS script syntax and shfmt/EOF formatting
  .github/workflows/ci.yml
  README.md
  gaudi_bash.sh
  lib/helpers/utils.bash
  setup.sh
Due: bash-audit, shellcheck-audit

Add tests for restore validation and new ported components
  test/components/components.bats
  test/lib/restore.bats
Due: none
